.index-container {
    display:flexbox;
    justify-content: center;
    align-items: center;
    padding-top: 20vh;
}
a:link, a:visited, a:active {
    color:rgb(4, 174, 4);
}
a:hover {
    color:rgb(120, 245, 120);
}
b {
    color: rgb(138, 243, 138);
}
body {
    background-color: black;
    color: rgb(200, 200, 200);
    font-family: monospace;
    font-size: 12pt
}
code {
    color: rgb(138, 243, 138);
    display: block;
    overflow-x: scroll;
}
h1, h2, h3, h4 {
    color:rgb(4, 174, 4);
}
nav {
    font-size: 16pt;
}
pre {
    color: rgb(138, 243, 138);
}