.blink {
    animation: blinker 2s linear infinite;
    color: rgb(138, 243, 138);
    display:inline-flex;
    font-size: 14pt;
    font-family: monospace;
    padding: 3px;
}
@keyframes blinker {
    50% {
        opacity: 0;
    }
}
.index-container {
    display:flexbox;
    justify-content: center;
    align-items: center;
    padding-top: 20vh;
}
a:link, a:visited, a:active, a:default {
    color:rgb(4, 174, 4);
    text-decoration: none;
}
a:hover {
    color:rgb(120, 245, 120);
    text-decoration: underline;
}
b {
    color: rgb(138, 243, 138);
}
body {
    background-color: black;
    color: rgb(200, 200, 200);
    font-family: monospace;
    font-size: 12pt
}
code {
    color: rgb(138, 243, 138);
    display: block;
    overflow-x: scroll;
}
h1, h2, h3, h4 {
    color:rgb(4, 174, 4);
}
img {
    max-width: 100%;
}
li {
    padding-bottom: 10pt;
}
nav {
    font-size: 16pt;
}
pre {
    color: rgb(138, 243, 138);
}